body {

    margin:0;
    background:#eaf4fb;
    font-family:Arial, sans-serif;

}


.app {

    width:90%;
    max-width:420px;
    margin:30px auto;

}


.header {

    text-align:center;
    background:#1683c7;
    padding:25px;
    border-radius:20px 20px 0 0;
    color:white;

}


.logo {

    width:100px;
    height:auto;
    margin-bottom:15px;

}


h1 {

    font-size:26px;
    margin:5px;

}


h2 {

    font-size:18px;
    margin:0;

}


.card {

    background:white;
    padding:25px;
    border-radius:0 0 20px 20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);

}


#fechaHora {

    text-align:center;
    margin:20px 0;
    font-size:18px;
    color:#005b96;

}


input {

    width:90%;
    padding:14px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}


button {

    width:100%;
    padding:16px;
    margin-top:15px;
    border:none;
    border-radius:12px;
    font-size:18px;
    color:white;
    cursor:pointer;

}


.entrada {

    background:#16803c;

}


.salida {

    background:#c0392b;

}


button:active {

    transform:scale(.97);

}


#resultado {

    margin-top:20px;
    text-align:center;
    font-weight:bold;

}
